<h2><%= @user.username %> (<%= @user.email %>)</h2>
  
  <p>Last time you use Hyedra was at <%= @user.last_activity_at %>.</p>
  



<%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-primary"  %> 
<%= link_to 'Back', users_path, :class => "btn btn-primary"  %>
</div>